<ul>
<% @cohorts.each do |cohort| %>
  <% if cohort.location == "Miami" %>
    <li><%= link_to cohort.name, cohort %></li>
  <% end %>
<% end %>
</ul>



<ul>
<% @cohorts.each do |cohort| %>
  <% if cohort.location == "Fort Lauderdale" %>
    <li><%= link_to cohort.name, cohort %></li>
    <% if current_user.admin? %>
      <%= link_to "Statistics", stats_path(cohort) %>
      <% end %>
  <% end %>
<% end %>
</ul>
