<h1>Welcome to Wynworld <%= current_user.fname %>

<h2>Here is a basic menu:</h2>
  - <%= link_to "View A Cohort", cohort_index_path%><br>
  - Search for an Alumni (by email, name, company, location, or cohort)<br>
  - View the current Wynworld map<br>
  - View Jobs (stretch goal)<br>
