
<!-- remote: true, -->

<%= form_tag results_path, remote:true, :method => 'get' do %>
  <p>
    <%= text_field_tag :q, value = 'Search by Student Name', { :size => "50" } %>
    <%= submit_tag "Search", :name => nil, :class => "menu-btn" %>
  </p>
<% end %>

<script>
$(function() {
  $( "#q" ).focus(function() {
    var default_value = this.value;
    if(this.value == default_value) {
      this.value = '';
    }
  });
});
</script>
