<h1> Search by Name, Email, Company, or Cohort</h1>

<%= form_tag(results_path, method: "get") do %>
<%= text_field_tag :q, "Search by Name, Email, or Company", size: 50 %>
<%= submit_tag("Search") %>
<% end %>
