<h1>Results</h1>

<ul>
<% @user.each do |user| %>
  <li><%= user.fname %>
  <%= user.lname %>
  <%= user.email %></li>
<% end %>

<% if @company %>
  <% @company.each do |company| %>
    <li><%= company.name %></li>
  <% end %>
<% end %>




<ul>
