<% company_name = @company.name %>
<% provide(:title, company_name) %>
<h1>Update Company</h1>
<%= render 'form' %>
<%= link_to 'Cancel', @company %>
<%= link_to 'Back to Companies list', companies_path %>
