<h1>Cohorts </h1>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <% if current_user.admin? %>
        <th>Placement Rate</th>
        <th>Current Employment Rate</th>

        <%end%>

    </tr>
  </thead>

  <tbody>
    <% @cohorts.each do |cohort| %>
          <tr>
            <td><%= link_to cohort.name, cohort %></td>
            <% if current_user.admin? %>
            <td><%= "TBD" %></td>
            <td><%= "TBD" %></td>

            <% end %>
          </tr>
    <% end %>
  </tbody>
</table>
