<h1>Cohorts </h1>


<table>
  <thead>
    <tr>
      <th>Name</th>
        <th>Current Employment Rate</th>
        <th>90 Day Placement Rate</th>
    </tr>
  </thead>

  <tbody>
    <% @cohorts.each do |cohort| %>
          <tr>
            <td><%= link_to cohort.name, cohort %></td>

              <td><%= cohort.users.count %>
              </td>
            <td><%= "TBD" %></td>

            </tr>
    <% end %>
  </tbody>
</table>
