<h1>Cohort:<%= @cohort.name %> </h1>
<h3>Graduation Date: <%= @cohort.graddate %></h3>

<hr>

<ul>
<% @cohort.users.each do |student| %>
  <li><%= link_to "#{student.fname + " " + student.lname}", root_path %> -
  <%= student.id %></li>
<% end %>
</ul>
