.cohort-edit-container, .employment-edit {
display: flex;
flex-direction: column;
align-items: center;
background-color: #eee;
padding: 30px;
  .edit-column{
    flex-grow: 1;
    background-color: #ccc;
    padding: 10px 20%;
    margin: 10px;
    max-width: 80%;
    .field{
      display: flex;
      justify-content: space-between;

      input{
        padding : 5px;
        margin: 5px;
      &[type="text"]{
        border: none;
        flex-grow: 2;
      }
      }
    }
  }
}
