.menu-btn {
background-color: #555;
color: #0ff;
margin: 0 2px;
  &:hover {
    background-color: #aaa;
    color: #065;
  }
}
.dash-menu{
  display: flex;
  justify-content: flex-end;;
  form:nth-child(1){
    flex-grow: 2;
  }
}

#search_results{
  img {
    width: 36px;
  }
}
.dash-cohort-table {
  img {
    width: 36px;
  }
}
