.menu-btn {
background-color: #666;
color: #0ff;
  &:hover {
    background-color: #444;
    color: darkturquoise;
  }
}.menu-btn {
background-color: #666;
color: #0ff;
  &:hover {
    background-color: #444;
    color: darkturquoise;
  }
}
.search-menu{
  display: flex;
  justify-content: flex-end;;
  form:nth-child(1){
    flex-grow: 2;
  }
}
.dash-menu{
  display: flex;
  justify-content: flex-end;;
}
#search_results{
  img {
    width: 36px;
  }
}
.dash-cohort-table {
  img {
    width: 36px;
  }
}
.dash-search{
  input{
    padding: 5px 10px;
  }
}
