// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  display: flex;
  // background-color: red;
  flex-direction: column;
  color: green;
}
