
.profile-stat {

    display: flex;
    justify-content: space-around;
    background-color: #ccc;
    padding: 30px 0;


    .basic-stat {
      font-size: 2em;
      display: flex;
      flex-direction: column;
      background-color: #aaa;
        padding: 10px 30px;


      p {
      background-color: #fff;
        padding: 10px 10px;
      }
    }

    .img-cir{
      border-radius: 50%;
    }

    .profile-social {

    }
}
